<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Raymond He">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Raymond he professional website">
    <title>Raymond He</title>
</head>
<body style="font-family: Arial">
    <header>
        <h1>Raymond He</h1>
        <nav>
            <a href="../index.html">Home</a> |
            <a href="cv.html">CV</a> |
            <a href="contact.html">Contact me</a> |
            <a href="fun.html">For fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Concord Academy</td>
                <td>Attended Concord Academy from 2020 to 2024</td>
            </tr>
            <tr>
                <td>Carnegie Mellong University</td>
                <td>Attending Carnegie Mellong University from 2024 to present</td>
            </tr>
            <tr>
                <td><a href="../static/Resume.pdf" target="_blank">My Resume (pdf)</a></td>
            </tr>
        </table>
    </div>
    <footer>
        © 2025 designed and coded by Raymond He
    </footer>
</body>

</html>