<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid-Based Layout</title>
    <link rel="stylesheet" href="../static/template.css">
    <link rel="stylesheet" href="../static/fontawesome/css/all.min.css">
    <script defer src="../static/script.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">Raymond He</header>
        <nav class="nav">
            <i class="fas fa-bars" id="menu-icon"></i>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <section class="mainimg">
            <img src="../static/temp.jpeg" alt="Raymond He" style="width: 400px; height: auto;">
        </section>
        <section class="maincontent">
            I am passionate about software development, data analysis, and AI. I enjoy creating projects that solve real-world problems. I specialize in web development, machine learning, 
               and competitive programming.
        </section>
        <section class="bottomcontent">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </section>
        <footer class="footer">
            designed and coded by Raymond He © 2025
        </footer>
    </div>
</body>
</html>