<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Raymond He">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Raymond he professional website">
    <title>Raymond He</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header id="webname">
        <h1>Raymond He</h1>
    </header>
    <nav>
        <a href="../index.html">About</a> 
        <a href="cv.html">Resume</a> 
        <a href="contact.html">Contact Me</a> 
        <a href="fun.html">For fun</a>
    </nav>
    <div class="main">
        <h2>Contact Me</h2>
        <form>
            <label for="name">Your Name (required):</label>
            <input type="text" id="name" name="name" required><br>
        
            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" required><br>
        
            <label for="comment">Your Comment:</label>
            <textarea id="comment" name="comment" required></textarea><br>
        
            <input type="submit" value="Submit">
        </form>
        <table>
            <tr>
                <th>Contact Method Description</th>
            </tr>
            <tr>
                <td>Email: RaymondHHe@gmail.com</td>
            </tr>
            <tr>
                <td>Phone: +1(857)-337-5060</td>
            </tr>
            <tr>
                <td>LinkedIn: <a href="https://www.linkedin.com/in/raymond-he-4365432a2" target="_blank">Click Here</a>
                </td>
            </tr>
        </table>
    </div>
    <footer>
        © 2025 designed and coded by Raymond He
    </footer>
</body>

</html>