* {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 5px;
    margin: 5px;
}

#webname {
    background-color: #92ad70; /* Change this hex color if needed */
    color: white;
    padding: 15px;
}

nav a {
    text-decoration: none;
    background-color: white;
    color: #92ad70; /* Change this hex color if needed */
    margin-right: 15px;
}

th {
    padding: 12px;
    background-color: #6e6e6e; /* Change this hex color if needed */
    color: white;
    width: fit-content;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

form * {
    display: block;
    margin: auto;
    text-align: center;
}

input[type="submit"] {
    background-color: #92ad70;
    color: white; 
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #7e9661; 
}

#copyYear {
    display: inline;
    margin: 0;
    padding: 1;
}

#funList {
    display: none;
    list-style-type: disc;;
    padding: 0;
    margin: 0px 20px;
}

#showListBtn {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 100px;
    font-size: 15px;
    margin: 10px 0;
    width: 120px; 
    height: 40px; 
}

#showListBtn:hover {
    background-color: #7e9661;
}

#bio {
    margin-top: 20px;
}

#readMore, #readLess {
    background-color: #92ad70;
    color: white;
    border: none;
    padding: 0px 0px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 11px;
    margin: 0px 0;
    width: 70px; 
    height: 20px; 
}

#readMore:hover, #readLess:hover {
    background-color: #7e9661;
}

#bio p {
    display: inline;
    margin: 0; 
    padding: 0;
}

#bio div {
    margin: 5px 0; 
    padding: 0;
    display: block; 
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
    text-align: center;
}